@model DemoMvc.Models.TinhHoaDon
<form asp-action="Index">
    <input type="double" name="Dongia" placeholder="Đơn giá (VNĐ): ">
    <input type="int" name="Soluong" placeholder="Số lượng: ">
    <input type="submit" value="Thành tiền">
</form>
<h2>@ViewBag.Message</h2>