@{
    ViewData["Title"] = "Index";
}
<h2>Đây là trang Student </h2>

@model Demo_MVC.Models.Student
<h1>View Index cua StudentController</h1>
<h2>Id: @Model.Id</h2>
<h2>FullName: @Model.FullName</h2>